html {
	--aspect: calc(var(--aspect-w) / var(--aspect-h));
	--xres: calc(min(100vw, 100vh * var(--aspect)) / 640);
	--yres: calc(min(100vh, 100vw / var(--aspect)) / 480);
	--xhalf: calc(var(--xres) * 320);
	--yhalf: calc(var(--yres) * 240);
	--xfull: calc(var(--xres) * 640);
	--yfull: calc(var(--yres) * 480);
	background-color: #111;
	--aspect-w: 5;
	--aspect-h: 4;
	--aspect-text: "5:4";
	overflow: hidden;
}
html::before {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	content: var(--aspect-text);
	font: 50vmin/100vh sans-serif;
	text-align: center;
	color: #aaa1;
}
@media (min-aspect-ratio: 31/24) {
	html {
		--aspect-w: 4;
		--aspect-h: 3;
		--aspect-text: "4:3";
	}
}
@media (min-aspect-ratio: 22/15) {
	html {
		--aspect-w: 16;
		--aspect-h: 10;
		--aspect-text: "16:10";
	}
}
@media (min-aspect-ratio: 76/45) {
	html {
		--aspect-w: 16;
		--aspect-h: 9;
		--aspect-text: "16:9";
	}
}
@media (min-aspect-ratio: 37/18) {
	html {
		--aspect-w: 21;
		--aspect-h: 9;
		--aspect-text: "21:9";
	}
}

body {
	margin: calc(50vh - var(--yhalf)) calc(50vw - var(--xhalf));
	box-shadow: 0 0 calc(var(--yres) * 16) #666;
	width: var(--xfull);
	height: var(--yfull);
	position: relative;
	font-family: sans-serif;
}
div {
	position: absolute;
	box-shadow: 0 0 0 1px inset #000;
	background-color: #aaa6;
	color: #000;
	cursor: default;
}
ul {
	margin: 0;
}

.top-bar {
	left: 0;
	top: 0;
	width: var(--xfull);
	height: calc(var(--yres) * 24);
}
.settings-button {
	left: 0;
	top: 0;
	width: calc(var(--yres) * 24);
	height: calc(var(--yres) * 24);
}
.quit-button {
	left: calc(var(--xfull) - var(--yres) * 24);
	top: 0;
	width: calc(var(--yres) * 24);
	height: calc(var(--yres) * 24);
}
.top-bar-logo {
	left: calc(var(--yres) * 48);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 32);
}
.loadout-button {
	left: calc(var(--xhalf) + var(--yres) * -168);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 26);
}
.inventory-button {
	left: calc(var(--xhalf) + var(--yres) * 104);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 26);
}
.recordings-button {
	left: calc(var(--xhalf) + var(--yres) * -32);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 26);
}
.swarmopedia-button {
	left: calc(var(--xhalf) + var(--yres) * 36);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 26);
}
.contracts-button {
	left: calc(var(--xhalf) + var(--yres) * -100);
	top: 0;
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 26);
}
.settings-wrapper {
	left: calc(var(--xhalf) - var(--yres) * 305);
	top: calc(var(--yres) * 60);
	width: calc(var(--yres) * 610);
	height: calc(var(--yres) * 400);
}
.settings-tab {
	top: calc(var(--yres) * 2);
	width: calc(var(--yres) * 64);
	height: calc(var(--yres) * 24);
}
.settings-tab-controls {
	left: calc(var(--yres) * 2);
}
.settings-tab-options {
	left: calc(var(--yres) * 68);
}
.settings-tab-audio {
	left: calc(var(--yres) * 134);
}
.settings-tab-video {
	left: calc(var(--yres) * 200);
}
.settings-tab-accessibility {
	left: calc(var(--yres) * 266);
	width: calc(var(--yres) * 96);
}
.settings-tab-about {
	left: calc(var(--yres) * 544);
}
